{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <label for="images">Upload images</label>
        <input type="file" name="images" id="images" multiple required>
        <button type="submit">Create</button>
    </form>
{% endblock content %}